apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-hdfs-config
  labels:
    app: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  HDFS_URL: {{ .Values.hdfs.url | quote }}
  HDFS_USER: {{ .Values.hdfs.user | quote }}