replicaCount: 1
image:
  repository: your-docker-repo/hdfs-csi-plugin
  tag: 1.0.0
  pullPolicy: IfNotPresent

resources:
  limits:
    memory: "512Mi"
    cpu: "500m"
  requests:
    memory: "256Mi"
    cpu: "250m"

nodeSelector: {}

tolerations: []

affinity: {}

grpcPort: 50051
csiPluginName: hdfs-csi-driver